{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}{% endblock head %}
  <link crossorigin="" href="https://fonts.gstatic.com/" rel="preconnect" />
  <link as="style"
    href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Plus+Jakarta+Sans%3Awght%40400%3B500%3B700%3B800"
    onload="this.rel='stylesheet'" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link href="data:image/x-icon;base64," rel="icon" type="image/x-icon" />
  <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap"
    rel="stylesheet">

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>{% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>
  <div class="page-wrapper">
    {% include "navbar.html" %}
    {% block body %}

    {% endblock body %}
  </div>
  <script src="{% static 'js/script.js' %}"></script>
  
  {% if messages %}
  <script>
    {% for message in messages %}
    Swal.fire({
      icon: "{{ message.tags }}",
      title: "{{ message }}",
      showConfirmButton: true,
      timer: 3000,
    });
    {% endfor %}
  </script>
  {% endif %}


</body>

</html>